# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/
env/

# Логи и локальные данные
logs/
*.log

# Окружение и секреты
.env

# Редакторы
.vscode/
.idea/

# Прочее
*.egg-info/
.pytest_cache/
Thumbs.db
desktop.ini
